.form-control {
  margin-bottom: 1rem;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.25rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}


#login {
  margin: 6rem auto;
  width: 80%;
  max-width: 40rem;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 1rem;
}

#login button {
  font: inherit;
  background-color: #390281;
  color: white;
  border: 1px solid #390281;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1rem;
}

#login button:hover,
#login button:active {
  background-color: #4f0ba7;
  border-color: #4f0ba7;
}

h2{
    margin: 0.5rem;
    text-align: center;
}

#message{
  color: red;
  font-weight: bold;
}