{% extends "base.html" %}
{% load static %}

{% block title %}
Login
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href= {% static "blog/login.css" %} />
{% endblock %}

{% block content %}
<section id="login">
<h2>Login</h2>
  {% if messages %}
    <div class="container" >
      {% for message in messages %}
        <div role="alert" id="message">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
<form method= "POST" action="{% url "login" %}">
    {% csrf_token %}
    <div class="form-control">
    <label for="username">Username</label>
    <input type="text" name="username" placeholder= "username" id="username">
    <label for="pass1">Password</label>
    <input type="password" placeholder="Password" id="pass1" name="pass1" >

    <button>Submit</button>
    </div>
</form>
</section>

{% endblock %}